<div class="container">
  <div class="row">
    <div class="form-inline">
      <div class="form-group" style="margin: 30px 0">
        <label for="name">Name:</label>
        <input #name type="text" id="name" class="form-control" placeholder="이름을 입력하세요">
        <label for="role">Role:</label>
        <select #role id="role" class="form-control">
          <option>Administrator</option>
          <option>Developer</option>
          <option>Designer</option>
        </select>
        <button type="button" class="btn btn-default" (click)="addUser(name.value, role.value)">Add user
        </button>
      </div>

      <div *ngIf="users.length > 0; then thenBlock_users1 else thenBlock_users2"></div>
      <ng-template #thenBlock_users1>
        <app-user-list [users]="users" (removeUser)="removeUser($event)"></app-user-list>
      </ng-template>
      <ng-template #thenBlock_users2>
        <div>
          <p>Register your user list.</p>
        </div>
      </ng-template>
    </div>
  </div>
</div>
<br /><br />

<h3>템플릿 참조 변수를 사용하여 자식 컴포넌트에 접근</h3>
<counter #counter></counter>
<button (click)="counter.increase()">+</button>
<button (click)="counter.decrease()">-</button>

<h3>템플릿 참조 변수를 사용하여 자식 네이티브 DOM 요소에 접근</h3>
<h1 #h1 [style.color]="counter.count > 5 ? 'red' : 'black'">Color</h1>
<button (click)="h1.style.color=h1.style.color=='red' ? 'black' : 'red'">
  change text color
</button>

<br /><br />
<h3>Parent</h3>
<button type="button" (click)="toggle()">Toggle Child</button>
<button type="button" (click)="changeText()">Change Child's text</button>
<child></child>

<h3>Parent</h3>
<button type="button" (click)="toggle2()">
  Toggle Child
</button>
<div *ngFor="let checkbox of checkboxs">
  <children [checkbox]="checkbox"></children>
</div>

<br/><br/>
<h1 #Heading1>Heading1</h1>
<h2 #Heading2>Heading2</h2>
<h3 #Heading3>Heading3</h3>


<br/><br/>
<!-- 싱글 슬롯 콘텐트 프로젝션 -->
<single-content-projection>
  <strong>Single-slot</strong> <i>content projection</i>
</single-content-projection>

<!-- 멀티 슬롯 콘텐트 프로젝션 -->
<multi-content-projection>
  <footer>Footer Content</footer>
  <header>Header Content</header>
  <section>Section Content</section>
  <div class="my-class">div with .my-class</div>
</multi-content-projection>
<br/><br/>

<user-list2>
  <user2 #first>Lee</user2>
  <user2>Beak</user2>
  <user2>Kim</user2>
</user-list2>

<br/><br/>
<host-parent></host-parent>