/* 호스트 요소 <app-child>에 대해 적용된다 */
:host {
    display: block;
  }
  
  /* 호스트 요소에 active class가 선언되어 있을 때 적용된다. */
  :host(.active) {
    background-color: lightcyan;
  }
  
  /* 호스트 요소가 hover 상태일 때 적용된다. */
  /* :click, :active도 사용할 수 있다. */
  :host(:hover) {
    background-color: royalblue;
  }
  
  h3 {
    color: deepskyblue;
  }
  
  /* 컴포넌트의 조상 요소에 theme-red 클래스가 선언되어 있을 때 적용된다. */
  :host-context(.theme-red) .btn-primary {
    color: #fff;
    background-color: crimson;
    border-color: crimson;
  }
  
  /* 컴포넌트의 조상 요소에 theme-blue 클래스가 선언되어 있을 때 적용된다. */
  :host-context(.theme-blue) .btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }